.exams {
    margin: 0 auto;
    margin-top: 40px;
    width: 1080px;

    h1 {
        text-align: center;
    }

    &__container {
        display: grid;
        gap: 20px;
        justify-content: center;
        grid-template-columns: repeat(5, 200px);
        margin-top: 30px;

        .exam--column {
            @include item();
        }
    }

    &__pagination {
        width: 1080px;
        margin: 0 auto;
        margin-top: 40px;
        display: flex;

        @include paginationItem();
    }

    &__banner {
        background: url(../imgs/banner-2.png) no-repeat center / contain;
        height: 300px;
        margin: 0 auto;
        margin-top: 10px;
        width: 100%;
    }
}