.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    background-color: $white-color;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 1.25rem;
    border: 1px solid $border-color;

    &__nav--list {
        display: flex;
        font-weight: 600;
        
        & > li > a {
            padding: 1.4rem 0;
            margin: 0 0.9rem;
            position: relative;

            &:hover::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 4px;
                bottom: -0.5px;
                border-top-right-radius: 10px;
                border-top-left-radius: 10px;
                left: 0;
                background-color: $primary-color-lighter;
            }
        }

        & > li > a.active::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 4px;
            bottom: -0.5px;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
            left: 0;
            background-color: $primary-color-lighter;
        }

        li:first-child {
            position: relative;
            
            .header__subnav {
                display: none;
                background-color: $white-color;
                color: $text-color;
                position: absolute;
                bottom: -210px;
                padding: 10px 0;
                box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
                border-radius: 10px;

                &.active {
                    display: flex;
                }

                .header__nav--topic {
                    width: 300px;
                    
                    li {
                        padding: 0.7rem 1rem;
                        position: relative;
                    }
    
                    li:hover {
                        background-color: $bg-color-primary;
                    }

                    li.active {
                        background-color: $bg-color-primary;
                    }
                }


                i.subject {
                    margin-right: 10px;
                }

                i.vocab {
                    color: green;
                }

                i.gram {
                    color: red;
                }

                i.lis {
                    color: blue;
                }
                
                i.read {
                    color: orange;
                }

                i.easy {
                    color: rgb(0, 128, 255);
                }

                i.med {
                    color: rgb(242, 0, 255);
                }

                i.adv {
                    color: rgb(0, 255, 13);
                }
                    
                .arrow {
                    float: right;
                    font-size: 0.8rem;
                    padding-top: 2px;
                }

                ul.header__nav--level {
                    border-left: 0.5px solid $border-color;
                    width: 180px;

                    a {
                        padding: 0.7rem 1rem;
                        display: block;
                    }

                    a:hover {
                        background-color: $bg-color-primary;
                    }
                }
            }
        }

        i {
            margin-left: 4px;
            margin-right: 0.5rem;
        }

    }

    &__login {

        .no--logged {
            display: flex;

            & > a {
                padding: 0.625rem;
                margin: 0 6px;
                font-size: 0.9rem;
                font-weight: 600;
            }
    
            .login--btn {
                background-color: $secondary-color;
                border-radius: 10px;
                transition: 0.2s;
    
                &:hover {
                    background-color: $secondary-color-hover;
                }
            }
        }

        .logged {
            display: flex;
            align-items: center;

            .announcement {
                width: 44px;
                height: 44px;
                background-color: $secondary-color;
                border-radius: 44px;
                text-align: center;
                margin-right: .8rem;

                i {
                    line-height: 44px;
                    color: $white-color;
                    font-size: 1.2rem;
                }
            }

            img.avatar {
                width: 44px;
                height: 44px;
                border-radius: 44px;
                border: 1px solid $primary-color;
                vertical-align: middle;
            }
        }

    }

    &__search--box {
        border-radius: 20px;
        border: 1px solid $border-color;
        overflow: hidden;
        position: relative;
        padding: 0 2rem;
        background-color: $bg-color-primary;
        width: 300px;

        input {
            padding-top: 10px;
            padding-bottom: 10px;
            background-color: transparent;
            width: 100%;
        }
        
        i {
            color: #656464;
            line-height: 2.2rem;
            position: absolute;
            left: 10px;
            font-size: 0.9rem;
        }
    }
}