@import "reset";
@import "config";

.login {
    padding-top: 2rem;
    padding-bottom: 3rem;
    &--container {
        width: 520px;
        padding: 1.6rem;
        margin: 0 auto;
        border-radius: .65rem;
        border: 1px solid #e0e0e0;
        box-shadow: 0 4px 0 0 rgba(143,156,173,.2);

        .log {
            background: #fff;
            color: #db4a39;
            margin-bottom: 20px;
            border: 1px solid #e0e0e0;
            font-weight: 600;
            text-align: center;
            display: block;
            padding: .5rem 0;
            margin-top: 1.2rem;
        }

        .privicy a {
            color: $link-color;
        }

        .another a {
            display: block;
            padding-top: 2rem;
            color: $link-color;
        }
    }
}