@import "reset";
@import "config";

.dotest {
    margin-top: 1.6rem;
    font-family: 'Lato', sans-serif;
    text-align: center;
    transition: all 0.2s;
    
    .ribbon {
        font-weight: lighter;
        text-align: center;
        font-size: 2.2rem;
        text-transform: uppercase;
        padding: 1.5rem 2rem;
        display: inline-block;
        // background-color: $bg-color-grey
        background: $secondary-color;
        color: $test-page-cl;
        position: relative;

        .lt-tail {
            @include fishTail($secondary-color, left, top);
        }

        .lb-tail {
            @include fishTail($secondary-color, left, bottom);
        }

        .rt-tail {
            @include fishTail($secondary-color, right, top);
        }

        .rb-tail {
            @include fishTail($secondary-color, right, bottom);
        }
    }

    &__container {
        text-align: center;
        margin: 0 auto;
        width: 1080px;
        
        &--title {
            font-weight: lighter;
            display: inline-block;
            margin-top: 30px;
            font-size: 2rem;
            padding-bottom: 0.7rem;
            position: relative;
    
            &::after {
                content: "";
                height: 2px;
                width: 30%;
                position: absolute;
                background-color: $test-page-cl;
                bottom: 0;
                left: 40%;
            }
        }
    
        &--info {
            margin-top: 30px;
            display: flex;
            text-align: left;
            color: $test-page-cl;
    
            .rules--test {
                flex: 7 7 0;
                line-height: 1.6;
                list-style: square inside;
            }
    
            .time--test {
                flex: 3 3 0;
                font-size: 1.4rem;
                text-align: center;
                position: relative;

                .timer.hide {
                    display: none;
                }
    
                .down {
                    font-size: 1.8rem;
                }

                .start--btn button {
                    position: absolute;
                    bottom: 0;
                    padding: 0.4rem 1rem;
                    border-radius: 6px;
                    cursor: pointer;
                    background-color: $secondary-color-darker;
                }

                button[name="finish"] {
                    display: none;

                    &.active {
                        display: inline-block;
                    }
                }

                button[name="start"] {
                    display: inline-block;

                    &.hide {
                        display: none;
                    }
                }
            }
        }
    
        &--boxquest {
            margin-top: 4rem;
            text-align: left;
            filter: blur(1.2rem);
            pointer-events: none;
            user-select: none;

            &.hide {
                display: none;
            }

            &.active {
                filter: blur(0);
                pointer-events: all;
            }

            .number--ques {
                font-size: 1.1rem;
            }

            .move--ques {
                display: inline-block;
                padding: .7rem 1.2rem;
                border-radius: 20px;
                background-color: $primary-color;
                color: $white-color;
                margin: 1.4rem 0;
                cursor: pointer;
                transition: 0.2s;
                border: none;

                &:hover {
                    background-color: $primary-color-lighter;  
                }

                &.next {
                    float: right;
                }
            }
        }
        
        @include question();

        // Result
        .list--results {
            margin-bottom: 6rem;
        }

        .result--infomations {
            text-align: left;
            margin-top: 4rem;
            display: none;

            &.active {
                display: block;
            }
        }

        .result--title {
            margin-bottom: 0.8rem;
        }

        .result--time {
            font-size: .9rem;
            margin-top: 1.2rem;
            margin-bottom: 1rem;
        }

        .result--point {
            background-color: #f0f3f6;
            border-radius: 6px;
            color: #728188;
            margin: 1rem 0;
            padding: 1rem;
            text-align: center;
            border: 2px solid;
            border-image-slice: 1;
            border-image-source: linear-gradient(to right, $secondary-color, $primary-color);
        }

        hr {
            margin: 1rem 0;
            border: 1px solid #e2e7ed;
        }

        .two--btn {
            display: flex;
            justify-content: center;
            
            button {
                padding: .7rem 1.2rem;
                border-radius: 20px;
                border: none;
                outline: none;
                margin: .6rem;
                color: $white-color;
                background-color: $primary-color;
                font-weight: 600;
                cursor: pointer;
                transition: .2s;

                &:hover {
                    background-color: $secondary-color-darker;
                }
            }
        }

        .result--detail {
            pointer-events: none;
        }

        .explaination {
            background-color: #f0f3f6;
            border: 2px solid #e2e7ed;
            border-radius: 6px;
            box-shadow: none;
            color: #728188;
            margin: 1em 0;
            padding: 20px;
            position: relative;

            img {
                margin-right: 10px;
            }
        }
    }
}