@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

body {
    font-family: 'Poppins', sans-serif;
}

.grid_container {
    display: grid;
    grid-template-areas:
        "sidebar header header header"
        "sidebar main main main"
    ;
    grid-template-columns: 260px 1fr 1fr 1fr;
    grid-template-rows: 70px 1fr;
    height: 100vh;
}

header {
    grid-area: header;
    display: flex;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 0px 0px;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

header .left_site {
    display: flex;
    align-items: center;
}

header .left_site svg {
    margin-left: 2rem;
}

header .left_site .search-box {
    margin-left: 3rem;
    border: 1px solid #FFC003;
    border-radius: 20px;
    position: relative;
    padding: 0 20px;
    width: 350px;
}

header .left_site .search-box input {
    padding: 12px 0px 12px 30px;
    border: none;
    width: 100%;
    outline: none;
}

header .left_site .search-box i {
    position: absolute;
    color: #888888;
    top: 30%;
}

header .right_site .icon-box {
    display: flex;
    align-items: center;
}

header .right_site .icon-box>div {
    position: relative;
}

header .right_site .icon-box div:not(:last-child)::after {
    content: '';
    display: inline-block;
    height: 8px;
    width: 8px;
    background-color: #dd0000;
    border-radius: 50%;
    position: absolute;
    top: -4px;
    right: 4px;
}

header .right_site .icon-box .pulse {
    position: absolute;
    top: -12px;
    right: -4px;
    height: 20px;
    width: 20px;
    z-index: 10;
    border: 12px solid #dd0000;
    border-radius: 50px;
    animation: pulse 1s linear infinite;
}

header .right_site .icon-box i {
    font-size: 20px;
    padding: 4px;
    margin-right: 8px;
    color: #888888;
    cursor: pointer;
}

header .right_site .icon-box img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 20px;
}

aside {
    grid-area: sidebar;
    padding: 16px 12px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 2px 0px;
    height: 100%;
    width: 260px;
    position: fixed;
}

aside .logo img {
    width: 220px;
    height: 50px;
}

aside .sidebar_menu {
    padding-top: 18px;
    border-top: 1px solid #FFC003;
}

aside .sidebar_menu>li span {
    display: block;
    width: 100%;
    padding: 12px 16px 12px 16px;
    cursor: pointer;
    border-radius: 12px;
    margin-bottom: 4px;
    transition: 0.3s;
}

aside .sidebar_menu>li span:hover {
    background-color: #dfe0eb;
}

aside .sidebar_menu>li.active span {
    background-color: #4d5fff;
    color: white;
}

aside .sidebar_menu>li span {
    display: flex;
    align-items: center;
}

aside .sidebar_menu .mar {
    margin-right: 20px;
}

aside .sidebar_menu svg {
    width: 22px;
    height: 22px;
    margin-right: 20px;
}

aside .sidebar_menu>li.active path {
    fill: white !important;
}

aside .sidebar_menu .fa-chevron-right {
    transition: 0.3s;
    margin-left: auto;
}

aside .sidebar_menu .fa-chevron-right.rotate {
    rotate: 90deg;
}

aside .ctg-prod {
    height: 0;
    overflow: hidden;
    transition: 0.3s;
}

aside .ctg-prod.active {
    overflow: visible;
    height: 100px;
}

aside .ctg-prod>li:first-child a {
    padding-top: 20px;
}

aside .ctg-prod a {
    display: block;
    padding: 10px 0;
    padding-left: 36px;
    cursor: pointer;
}

aside .ctg-prod>li.active a {
    color: #4d5fff;
}

main {
    grid-area: main;
    background-color: #f5f7ff;
    padding: 10px 20px 0;
}

span.success {
    padding: 8px 12px;
    background-color: #b8e2e6;
    color: #2d7478;
    border-color: #d6e9c6;
    font-size: 16px;
    margin-left: 20px;
}

main .add-new {
    float: right;
    margin-top: 20px;
}

main .add-new a {
    padding: 6px 14px;
    color: white;
    background-color: #e9af00;
    border-radius: 8px;
}

main .above_table {
    padding-top: 24px;
    clear: both;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .above_table .ctg_name {
    font-size: 24px;
}

main .above_table .search_box {
    border: 1px solid #4d5fff;
    border-radius: 20px;
    position: relative;
    padding: 0 10px;
    width: 200px;
}

main .above_table .search_box input {
    padding: 8px 0px 8px 24px;
    border: none;
    width: 100%;
    outline: none;
    background-color: transparent;
}

main .above_table .search_box i {
    position: absolute;
    color: #888888;
    top: 26%;
}

main table {
    margin: 0 auto;
    width: 962px;
    margin-top: 20px;
}

main table th,
main table td {
    padding: 6px;
    text-align: center;
}

main table th {
    font-size: 14px;
}

main table td {
    font-size: 12px;
}

main table td.b-img {
    width: 140px;
}

main table td .box-imgs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

main table td .box-imgs img,
img.avt-img {
    width: 36px;
    max-width: 36px;
    height: 36px;
    margin: 2px;
}

main table .last-td {
    display: flex;
    justify-content: center;
}

main table .last-td a:first-child {
    margin-right: 4px;
}

main table .last-td a {
    line-height: 28px;
    color: white;
    height: 28px;
    width: 50px;
    outline: none;
    cursor: pointer;
    border: none;
    float: left;
    border-radius: 4px;
}

main table td .change-btn, main table td .see-btn {
    background-color: blue;
}

main table td .del-btn {
    background-color: #dd0000
}

.title h2 {
    margin-top: 1rem;
    margin-left: 1rem;
}

.exams__pagination {
    margin-top: 40px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
}

.exams__pagination li:first-child a {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.exams__pagination li:last-child a {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.exams__pagination .pagination--item a {
    padding: 0.5rem 0.75rem;
    border: solid 1px #cbcbcb;
    font-size: 1.1rem;
    color: #4d5fff;
    transition: 0.1s;
    cursor: pointer;
}

.exams__pagination .pagination--item a:hover {
    background-color: #f6f7fb;
}

.exams__pagination .pagination--item a.active {
    color: #ffffff;
    background-color: blue;
}

.container .err {
    background-color: #e42d2d;
    font-size: 1.1rem;
    padding: .2rem .8rem;
    display: none;
    border-radius: .3rem;
    color: #ffffff;
    font-weight: normal;
}

.container.hide {
    display: none;
}

.container .err.active {
    display: inline-block;
}

.container .questions__row label {
    width: 88px;
    display: inline-block;
}

.general {
    margin-top: 1.4rem;
    margin-bottom: 2rem;
}

.general__row {
    display: flex;
    width: 100%;
}

.general__row.row-1 {
    justify-content: space-around;
}

.general__row.row-2 {
    justify-content: center;
    margin-top: 2.5rem;
}

.general input, .questions__row .col .box input {
    padding: .5rem .8rem;
    border-radius: .5rem;
    margin-left: 1rem;  
    font-size: 1rem;  
}

.general #member {
    width: 90px;
}

.general #time {
    width: 100px;
}

.general #feedback-status {
    width: 60px;
}

.general .row-2:has(#feedback-content) {
    display: block;
    margin-left: 1.2rem;
}

.general #feedback-content {
    width: 85%;
}

.general #exam-level {
    width: 120px;
}

.general .box:has(#time) {
    margin-left: 2rem;
}

.general #exam-name {
    width: 300px;
}

.general .box:has(#date) {
    margin: 0 2rem;
}

:disabled {
    background: #EEE;
}

.questions__row {
    padding: 0 1rem;
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.questions__row .col {
    justify-self: center;
}

.questions__row .col .box, .questions__row .ques {
    margin-bottom: 1rem;
}

.questions__row input[type="file"] {
    width: 50px;
    visibility:hidden;
}

.questions__row label:has(input[type="file"]) {
    width: 50px;
    transform: translateY(32px);
    margin-left: 1rem;
    cursor: pointer;
}

form input[type="submit"] {
    padding: .8rem 1rem;
    width: 120px;
    margin-top: 2rem;
    margin-bottom: 4rem;
    margin-left: auto;
    border-radius: .5rem;
    border: none;
    outline: none;
    color: #ffffff;
    background-color: #4d5fff;
    cursor: pointer;
    float: right;
}

.statistical {
    display: grid;
    padding: 0 2rem;
    margin-top: 1.6rem;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 3rem;
}

.statistical > div {
    border-radius: .4rem;
    background-color: #fff;
    padding: 1rem 1.5rem;
}

.statistical .left.chart {
    position: relative;
}

.statistical .left.chart .percent {
    position: absolute;
    top: 45%;
    left: 34%;
}

.statistical .members-box, .statistical .history-box {
    grid-column-start: span 3;
}

.statistical .number {
    font-size: 2.2rem;
    font-weight: 600;
}

.statistical .left h3 {
    margin-top: .6rem;
    margin-bottom: .2rem;
}

.statistical .left p {
    color: #9a9a9a;
    /* opacity: 0; */
}

.statistical .left p .status {
    color: #2bc155;
}

.statistical .fl {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.statistical .exam-box, .statistical .test-box, .statistical .feedback-box {
    grid-column-start: span 2;
}

.statistical .test-box {}

.statistical .feedback-box {}

.history__list--results .ques {
    padding-top: 0.9rem;
    padding-bottom: 0.7rem;
}

.history__list--results .ques span:first-child {
    margin-right: 20px;
}

.history__list--results .ques .audio--btn::after {
    background-size: 26px 26px;
    content: "";
    vertical-align: middle;
    width: 26px;
    height: 26px;
    display: inline-block;
    background-repeat: no-repeat;
    background-image: url("../imgs/btnaudio.png");
    cursor: pointer;
}

.history__list--results .anwser--item {
    margin-top: 0.9rem;
}

.history__list--results .answer {
    display: flex;
    width: 100%;
    border: 2px solid #e9e9e9;
    border-radius: 6px;
    padding: 1rem 1.4rem;
}

.history__list--results .answer.active {
    border: 2px solid #4d5fff;
}

.history__list--results .answer.correct {
    border: 2px solid #00c349 !important;
}

.history__list--results .answer.incorrect {
    border: 2px solid #dc3545;
}

.history__list--results .answer input {
    margin-right: 1.4rem;
}

.history__list--results {
    margin-bottom: 6rem;
    margin-top: 1rem;
    width: 100%;
    display: none;
}

.history__list--results.show {
    display: block;
}

.history__list--results .result--detail>.anwsers--box {
    pointer-events: none;
}

.history__list--results .explaination {
    background-color: #f0f3f6;
    border: 2px solid #e2e7ed;
    border-radius: 6px;
    box-shadow: none;
    color: #728188;
    margin: 1em 0;
    padding: 20px;
    position: relative;
}

.history__list--results .explaination img {
    margin-right: 10px;
}

.btn-submit-user {
    float: none !important;
    margin: 0 !important;
}

.user--role {
    margin-right: 3rem;
}

@keyframes pulse {
    0% {
        transform: scale(0);
        opacity: 0.0;
    }

    25% {
        transform: scale(0.1);
        opacity: 0.1;
    }

    50% {
        transform: scale(0.5);
        opacity: 0.3;
    }

    75% {
        transform: scale(0.8);
        opacity: 0.5;
    }

    100% {
        transform: scale(1);
        opacity: 0.0;
    }
}