* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: Roboto, Arial, sans-serif;
}

.pad {
  height: 63px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

input {
  border: none;
  outline: none;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.lv {
  padding-top: 50px;
}
.lv__wrapper {
  width: 1080px;
  margin: 0 auto;
}
.lv h1 {
  font-size: 1.9rem;
  margin-bottom: 1.8rem;
}
.lv__content {
  display: flex;
}
.lv__content--left {
  flex: 5 5 0;
}
.lv__content--left .search--control {
  position: relative;
  width: 88%;
}
.lv__content--left .search--box {
  display: block;
  border: 1px solid #cbcbcb;
  overflow: hidden;
  border-radius: 0.4rem;
}
.lv__content--left .search--box input {
  padding: 0.65rem 1rem;
  font-size: 1rem;
  width: 100%;
}
.lv__content--left .search--box i {
  position: absolute;
  right: 0.8rem;
  line-height: 40px;
  font-weight: bolder;
}
.lv__content--left button {
  float: right;
  margin-top: 20px;
  color: #fff;
  background-color: #4d5fff;
  border-color: #4d5fff;
  padding: 0.45rem 0.8rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 0.4rem;
}
.lv__content--right {
  flex: 2 2 0;
}
.lv__content--right .profile {
  text-align: center;
  width: 80%;
  padding: 0.9rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 0.4rem;
  margin-left: auto;
}
.lv__content--right .profile img {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  margin-bottom: 10px;
}
.lv__content--right .profile .name {
  font-size: 1.1rem;
  padding-bottom: 0.3rem;
}
.lv__content--right .profile .note {
  font-size: 0.9rem;
  color: #677788;
}
.lv__content--right .profile .divide {
  margin: 0.6rem auto;
  border: 0.5px solid #cbcbcb;
}
.lv__content--right .profile .statistic {
  border: 1px solid #4d5fff;
  background-color: #e8f2ff;
  padding: 0.4rem 0.7rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 20px;
  margin-top: 0.5rem;
  display: inline-block;
  width: 100%;
  font-weight: 600;
  transition: 0.2s;
}
.lv__content--right .profile .statistic:hover {
  background-color: #4d5fff;
  color: #ffffff;
}
.lv__main {
  margin-top: 30px;
}
.lv__main--navtab {
  display: flex;
  border-bottom: solid 1px #cbcbcb;
}
.lv__main--navtab a {
  padding: 1rem 0.7rem;
  color: #677788;
  font-weight: 600;
  display: inline-block;
  font-size: 1.1rem;
}
.lv__main--navtab a.active {
  color: #4d5fff;
  border-bottom: solid 3px #4d5fff;
}
.lv__main--navtab a:hover {
  color: #4d5fff;
  border-bottom: solid 3px #4d5fff;
}
.lv__main--row {
  display: flex;
  align-items: flex-start;
  margin-top: 20px;
}
.lv__main--row .exam {
  flex: 7 7 0;
  display: grid;
  grid-template-columns: repeat(4, 25%);
}
.lv__main--row .exam--column {
  width: 94%;
  box-shadow: 0 4px 0 0 rgba(143, 156, 173, 0.2);
  border: 1px solid #e0e0e0;
  border-radius: 0.65rem;
  padding: 1rem;
  font-size: 0.9rem;
  position: relative;
  padding-bottom: 3.6rem;
  transition: all 0.3s;
  margin-top: 18px;
}
.lv__main--row .exam--column > a.hidden {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.lv__main--row .exam--column:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  transform: translateY(-0.1rem);
}
.lv__main--row .exam--column h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}
.lv__main--row .exam--column span {
  font-weight: 600;
  color: #677788;
  line-height: 1.6;
}
.lv__main--row .exam--column span i {
  margin-right: 6px;
}
.lv__main--row .exam--column a.do {
  text-align: center;
  margin-top: 20px;
  border: 0.5px solid #4d5fff;
  background-color: transparent;
  padding: 0.6rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.35rem;
  color: #4d5fff;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  left: 1rem;
  transition: all 0.2s;
}
.lv__main--row .exam--column a.do:hover {
  color: #ffffff;
  background-color: #4d5fff;
}
.lv__main--row .exam--column .tag {
  display: inline-block;
  margin-top: 10px;
  font-size: 12px;
  border-radius: 15px;
  text-align: left;
  background-color: #f0f8ff;
  padding: 0.2rem 0.4rem;
  color: #35509a;
}
.lv__main--row .row__right {
  flex: 2 2 0;
  margin-top: 8px;
}
.lv__main--row .row__right--imgs {
  margin-left: auto;
  width: 220px;
}
.lv__main--row .row__right img {
  width: 220px;
  height: 100px;
  margin-top: 10px;
  cursor: text;
}

@media screen and (max-width: 992px) {
  .lv__wrapper {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  .lv__main--row .exam {
    grid-template-columns: repeat(3, 32%);
  }
}
@media screen and (max-width: 768px) {
  .lv__main--row .exam {
    grid-template-columns: repeat(2, 48%);
  }
}
@media screen and (max-width: 320px) {
  .lv__content--right {
    display: none;
  }
  .lv h1 {
    font-size: 1rem;
  }
  .lv__content--left .search--box input {
    padding: 0.65rem 1rem;
    padding-right: 2.5rem;
    font-size: 0.8rem;
    width: 100%;
  }
  .lv__content--left button {
    margin-top: 10px;
    padding: 0.35rem 0.6rem;
    font-size: 0.8rem;
  }
  .lv__main--row {
    display: flex;
    flex-direction: column !important;
    align-items: center;
  }
  .lv__main--row .exam {
    width: 100%;
    justify-items: center;
    grid-template-columns: repeat(1, 100%);
  }
}